.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;  
  background: transparent; 
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 100px;       
  width: auto;       
  display: block;
}

.nav-links {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
  margin-right: 50px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #cccccc;

  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
}
