.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center links vertically relative to the logo */
  padding: 20px 20px;  /* Balanced breathing room */
  background: transparent; /* Or your dark theme color */
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 100px;       /* Control the size via height to maintain aspect ratio */
  width: auto;        /* Let the width adjust automatically */
  display: block;
}

/* Navbar links */
.nav-links {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
  margin-right: 50px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #cccccc;

  transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
  color: white;
}
