.main-header {
  height: 90px;
  width: 100%;
  padding: 0 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;


}

/* Logo container */
.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Logo square */
.logo-box {
  width: 55px;
  height: 55px;

  background-color: #00f6ff;
  color: black;

  font-size: 22px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}

/* ResumeAI text */
.logo-text {
  font-size: 28px;
  font-weight: 600;
  color: #00f6ff;
}

/* Navbar links */
.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  color: #cccccc;

  transition: 0.3s;
}

/* Hover effect */
.nav-links a:hover {
  color: white;
}
